<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Sub-Projeto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="topo">
        <h1 class="titulo-topo">Registrar Sub-Projeto</h1>
        <a href="/" style="color: white; text-decoration: none; font-weight: bold; float: right; margin-top: -30px;">[ Voltar ao Menu ]</a>
    </header>

    <form action="">
        <div>
            <label for="">Projeto Original</label><br>

        </div>

        <div>
            <label for="titulo">Título do Sub-Projeto</label><br>
            <input type="text" id="sub-titulo" name="sub-titulo" class="caixa" required>
        </div>

        <div>
            <label for=""></label>
        </div>
    
    </form>
</body>
</html>